body{
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    font-size: .12rem;
    height: auto;
    /*overflow: hidden;*/
    background: #F2F2F2;
}
.header{
    width: 5.4rem;
    background: #099FDE;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header div,p{
    height: 0.6rem;
}
.header .back{
    width: 0.6rem;
    text-align: center;
    line-height: 0.7rem;
    float: left;
}
.header .back i{
    display: inline-block;
}
.header .back i{
    width: .14rem;
    height: .14rem;
    transform: rotate(45deg);
    border: 0.02rem solid white;
    border-top: none;
    border-right: none;
    background: none;
}
.header p{
    width: 60%;
    color: white;
    text-align: center;
    font-size: 0.26rem;
    line-height: 0.6rem;
    position: absolute;
    left: 50%;
    margin-left: -30%;
}
.header .dl{
    float: right;
    line-height: 0.6rem;
    color: white;
    padding-right: 0.1rem;
    font-size: .16rem;
}
.header .dl i{
    width: .3rem;
    height: .35rem;
    background-position: -0.53rem -3.02rem;
    vertical-align: middle;
}
.ban{
    margin-top: .6rem;
}
.ban img{
    width: 5.4rem;
    height: 0.7rem;
}
.content{
    width: 5.4rem;
    padding: 0.08rem 0.1rem 0.05rem;
    box-sizing: border-box;
    background: white;
}
.content li{
    height: .62rem;
    border-bottom: 0.01rem solid #F7F7F7;
    position: relative;
}
.content li:first-child{
    border-bottom: none;
}
.content .cont-one p{
    height: 100%;
    width: 80%;
    border-bottom: 0.01rem solid #EEEEEE;
    float: left;
    position: absolute;
}
.content li img{
    width: .26rem;
    height: .33rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.165rem;
}
li a{
    position: absolute;
    left: 0.1rem;
}
li .cont-on-top{
    color: #b2b2b2;
    font-size: .12rem;
    top:.1rem;
}
li  .cont-on-top2{
    font-size: .22rem;
    display: block;
    bottom: .06rem;
}
li a.top-left{
    left: 1.1rem;
    top: .36rem;
}
li .days{
    width: .5rem;
    height: .25rem;
    line-height: .25rem;
    border: .01rem solid #e6e8eb;
    border-radius: .5rem;
    color: #2b2b2b;
    font-size: 0.14rem;
    position: absolute;
    left: 50%;
    margin-left: -0.7rem;
    top: 50%;
    margin-top: -.125rem;
    font-weight: 300;
    text-align: center;
}
li .star-p{
    line-height: .62rem;
    color: #bbb;
    font-size: .22rem;
    padding-left: .1rem;
}
li .btn,.search{
    font-size: 0.18rem;
    text-align: center;
    height: .45rem;
    border-radius: 0.05rem;
    position: absolute;
    top: 50%;
    margin-top: -.225rem;
}
li .btn{
    color: #FFF;
    font-size: 0.18rem;
    width: 3.7rem;
    background-color: #ff9a14;
    border: none;
}
li .search{
    border: .01rem solid #E3E4E8;
    color: #26aaf2;
    display: inline-block;
    font-size: 0.14rem;
    right: .1rem;
    line-height: .45rem;
    padding: 0 0.05rem;
    box-sizing: border-box;
}
.me{
    width: 5.2rem;
    height: .44rem;
    background: white;
    border-radius: 0.05rem;
    margin: .1rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,.1);
    color: #26aaf2;
    text-align: center;
    line-height: .44rem;
    font-size: 0.2rem;
}
.choose-bar{
    width: 5.4rem;
    display: flex;
    background: white;
}
.choose-bar div,.choose-bar p{
    height: .84rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    line-height: 0.84rem;
    position: relative;
}
.choose-bar div p{
    width: 100%;
    height: 50%;
    border: .01rem solid #F5F5F5;
}
.choose-bar div img,.choose-bar p img{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -0.3rem;
    left: 0;
    border: none;
}
.choose-bar p img{
    width: 90%;
    height: .35rem;
    margin-top: -.175rem;
}
.bottom{
    width: 100%;
    text-align: center;
}
.bottom img{
    margin: .2rem 0;
    width: 2.95rem;
    height: .54rem;
}
