*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;/*禁止用户选中文字*/
    -webkit-touch-callout: none;/*禁止ios长按时触发系统的菜单,禁止ios&android长按时下载图片*/
}
form{
    -webkit-appearance:none;/*webkit去除表单元素的默认样式*/
}
body{
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font-size: .16rem;
    background: #F2F2F2;
    -webkit-text-size-adjust: 100%!important;/*ios使用-webkit-text-size-adjust禁止调整字体大小*/
    font-family: Helvetica;
}
.clean:after{
    content: "";
    display: block;
    clear: both;
    zoom: 1;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    border: none;
    vertical-align: middle;
}
i{
    display: inline-block;
    background: url("../img/un_ico_home_v620.png") no-repeat;
    background-size: 1.04rem auto;
}
a,button,input{
    -webkit-tap-highlight-color:rgba(255,0,0,0);/*去掉高亮*/
}
input::-webkit-input-speech-button {display: none}/*android 上去掉语音输入按钮*/
.jiant{
    width: .1rem;
    height: .1rem;
    transform: rotate(45deg);
    border: 0.02rem solid #099FDE;
    border-top: none;
    border-right: none;
    background: none;
}