.inner{
    width: 1740px;
    margin:0 auto;
}
.ban{
    width: 100%;
    display: block;
    background: #e60000;
}
.ban img{
    width: 100%;
    height: 70px;
}
.ban .inner{
    position: relative;
    top: -70px;
    left: 0;
}
.ban .inner .del{
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url("../img/close.png") no-repeat 0 -235px;
    position: absolute;
    right: 0;
    top: 10px;
}
.banner{
    width: 100%;
    height: 520px;
    background-color: #b0252c;
    z-index: 1;
    position: relative;
}
.banner .nav .logo{
    float: left;
    margin: 23px 30px 23px 0;
}
.banner .nav .logo img{
    width: 120px;
    height: 24px;
}
.banner .list{
    float: left;
    margin: 16px 20px 0 0;
}
.banner .list li{
    cursor: pointer;
    float: left;
    color: #fff;
    font-size: 16px;
    line-height: 38px;
    padding: 0 9px;
    position: relative;
    z-index: 3;
}
i{
    display: inline-block;
    background: url("../img/close.png") no-repeat;
}
.banner .list li i{
    width: 20px;
    height: 20px;
    background-position: 1px 0;
}
.banner .list li .box{
    width: 70px;
    height: 50px;
    background: pink;
    color: black;
    font:20px/50px "";
    display: none;
    position: absolute;
    z-index: 3;
    left: 0;
    cursor: pointer;
    bottom: -50px;
}
.banner .input{
    padding-top: 20px;
    float: left;
    position: relative;
    z-index: 3;
}
.banner .input input{
    float: left;
    width: 400px;
    height: 22px;
    padding: 8px 12px 8px 18px;
    outline: 0 none;
    font-size: 14px;
    line-height: 22px;
    background: rgb(255,255,255);
    opacity: .3;
    filter: alpha(opacity=30);
    border: 0 none;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
}
.banner .input span{
    display: inline-block;
    float: left;
    width: 80px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    background: #3b9eff;
}
.banner .input .box{
    width: 70px;
    height: 50px;
    background: pink;
    color: black;
    font:20px/50px "";
    display: none;
    position: absolute;
    z-index: 3;
    left: 0;
    cursor: pointer;
    bottom: -50px;
}
.banner .ban_wrap{
    position: absolute;
    width: 1740px;
    height: 520px;
    *left:0;
    overflow: hidden;
}
.banner .ban_wrap li{
    width: 100%;
    height: 100%;
}
.banner ol{
    width: 245px;
    position: absolute;
    right: 220px;
    top: 30px;
    background: rgb(0,0,0);
    opacity: .3;
    filter: alpha(opacity=30);
}
.banner ol li{
    padding: 0 22px 0 16px;
    line-height: 44px;
    color: white;
}
.banner ol li .span1{
    display: block;
    font-size: 25px;
    line-height: 40px;
}
.banner ol li:hover span{
    display: block;
    font-size: 25px;
    line-height: 40px;
}